.floating-buttons {
	position: fixed;
	z-index: 2;
	bottom: 25%;
}

.floating-buttons li {
	list-style: none;
}

.floating-icons {
	
	text-indent:-9999px;
	position:fixed;
	z-index:99999;
	right:0px;
	height:160px;
	background-size:160px !important;
	width:160px;
}

/* LARGE SCREEN RULES (width) */
@media only screen and (max-width: 1200px) {
	.floating-icons {
		background-size:120px !important;
	}
}

/* SMALL SCREEN RULES (width) */
@media only screen and (max-width: 768px) {
	.floating-icons {
		background-size:110px !important;
	}
}

/* HEIGHT RULES */

@media only screen and (max-height: 500px) {
	.floating-buttons {
		bottom:30%;
	}
}

@media only screen and (max-height: 400px) {
	.floating-buttons {
		bottom:35%;
	}
}

@media only screen and (max-height: 350px) {
	.floating-buttons {
		bottom:40%;
	}
}

@media only screen and (max-height: 300px) {
	.floating-buttons {
		bottom:45%;
	}
}