/*
Author: Bootstrapthemes
Author URI: http://www.bootstrapthemes.co
*/
/* Portrait tablets and small desktops */
@media (min-width: 992px) and (max-width: 1199px){
    html {
        font-size: 90%;
    }
    p.homenews {
    font-size: 69%;
    }
    .btn-defaultnews {
    color: white;
    background-color: #00BFA5;
    border-color: cadetblue;
    margin-left: 350px;
    margin-top: -41px;
    margin-bottom: 33px;
    font-size: 83%;
    height: inherit;
    width: auto;
}
    .navbar-nav > li {
        padding: 0 6px;
    }
    .navbar-right > li > a {
        position: relative;
        display: block;
        padding: 5px 7px;
    }
    .navbar-right {
        float: right !important;
        margin-right: -15px;
        margin-top: -6px;
    }
    .col-sm-4 {
        width: 47.333%;
    }
    .col-sm-1 {
        width: 13%;
        margin-left: -44px;
    }
.col-md-2 {
    width: 16.66666667%;
    margin-left: 33px;
    font-size: 85%;
}
.col-sm-5 {
    width: 50%;
    margin-left: -4px;
}
    .input1 {
        width: 374px;
    }
    p.mvmc {
        margin-left: -69px;
        font-size: 80%;
    }
    b.mvmc {
        margin-left: -70px;
        font-size: 100%;
    }
    .mvmcpanel {
        background: #F5F5F5;
        border: 1px solid gainsboro;
        padding-bottom: 36px;
        margin-left: -13px;
        margin-top: 22px;
        margin-right: 4px;
        width: 332px;
        font-size: 97%;
    }
    .panel2 {
    
        background: #F5F5F5;
        border: 1px solid gainsboro;
        padding-bottom: 91px;
        margin-left: 54px;
        margin-top: -14px;
        height: 387px;
    
    }
    .panel3 {
        background: #00BFA5;
        padding-bottom: 0px;
        border: 1px solid gainsboro;
        margin-top: 19px;
        margin-right: 27px;
        height: 509px;
    }
    .btn {
        min-width: 119px;
    }

    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        border-color: #e7e7e7;
        margin-top: 8px;
        background: transparent;
        z-index:100000;
        position: relative;
    }
    .menu-scroll .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        margin-top: 12px;
    }
    .main_events_area .single_events span.separator3 {
        margin: 10px 25px;
    }
    .main_events_area .single_events span.e_text1 {
        margin-left: 5px;
    }
    .main_team_area .owl-carousel .owl-controls .owl-nav .owl-next {
        right: -2288%;
    }

    .input1{
        width: 328px;
    }
    .main_work1_area .owl-theme .owl-nav {
        top: -600px;
    }

    .main_team_area{
        margin-top: 43px;
        height: 314px;
    }

    .owl-theme .owl-dots {
    text-align: center;
    margin-top: -149px;
}

    h2{
        margin-top: 12px;
    }
    .img123 {
    max-width: 29%;
    margin: 0px 0px 54px 28px;
}
.logo {
    max-width: 163px;
    margin-top: 6px;
    margin-left: -53px;
}

}
/* Portrait tablets and medium desktops */
@media (max-width: 800px) {
    body {
        font-size: 1rem;
    }
    .main_team_area .owl-carousel .owl-controls .owl-nav .owl-next {
        right: -1085%;
    }


    .main_work1_area .owl-theme .owl-nav {
        top: -740px;
    }

}


@media  (min-width: 801px) and (max-width: 991px){
    html {
        font-size: 90%;
    }
    p.homenews {
    font-size: 63%;
    }
    td{
    display: table-cell;
}
    .form-group {
        margin-bottom: 15px;
        text-align: center;
    }
    .img123 {
    max-width: 28%;
    margin: 0px 0px 54px 28px;
}
    h3 {
        color: white;
        margin-left: 30px;
        font-size: 1.575rem;
        line-height: 2.5rem;
        font-family: 'Open Sans';
        font-weight: bold;
        letter-spacing: 1px;
        margin-left: 8px;
        padding: 6px;
        margin-top: 0rem;
    }
    .main_menu_bg .navbar-nav > li > a {
        padding-top: 13px;
        padding-bottom: 13px;
        font-size: 73%;
        color: #1565C0;
        letter-spacing: -1px;
    }
    .main_team_area {
        margin-top: 23px;
        border: 3px solid gainsboro;
        background-image: url(../images/home.jpg);
        box-shadow: 0px 10px 5px grey;
        width: 96%;
        margin-left: 16px;
        height: 330px;
    }

    .owl-theme .owl-dots {
    text-align: center;
    margin-top: -131px;
}
.logo {
    max-width: 151px;
    margin-top: 10px;
    margin-left: -69px;
}
    .navbar-nav > li {
        padding: 0 6px;
        line-height: 17px;
    }
    .navbar-right > li > a {
        position: relative;
        display: block;
        padding: 0px 1px;
    }
    .navbar-right {
        float: right !important;
        margin-right: -15px;
        margin-top: -45px;
    }
    .col-sm-4 {
        width: 47.333%;
    }
    .col-sm-1 {
        width: 13%;
        margin-left: -44px;
    }
    .col-md-2 {
        width: 16.66666667%;
        margin-left: 58px;
        font-size: 85%;
        text-align: left;
    }
    .input1 {
        width: 320px;
        margin-left: 1px;
    }
    .mvmcimg {
        width: 150px;
        height: 150px;
        box-shadow: -3px 7px 5px grey;
        margin-left: 87px;
        padding-right: 2px;
    }
    .img4 {
        max-width: 65%;
        box-shadow: 5px 3px 5px grey;
        float: left;
        margin-right: 22px;
    }
    p.mvmc {
        margin-left: 85px;
        font-size: 80%;
    }
    b.mvmc {
        margin-left: 0px;
        font-size: 100%;
    }
    .mvmcpanel {
        background: #F5F5F5;
        border: 1px solid gainsboro;
        padding-bottom: 36px;
        margin-left: 201px;
        margin-top: 22px;
        margin-right: 4px;
        width: 332px;
        font-size: 97%;
    }
    .missionimg {
        max-width: 91%;
        width: 1500px;
        box-shadow: 6px 7px 5px grey;
    }
    .newsimg {
        display: none;
    }
    .panel1 {
        background: #42A5F5;
        margin-left: 1px;
        margin-top: 20px;
        margin-right: -6px;
    }
    .panel2 {
        background: #F5F5F5;
        border: 1px solid gainsboro;
        padding-bottom: 91px;
        margin-left: 1px;
        margin-right: -6px;
        margin-top: -14px;
        height: 410px;
    }
    
    .panel3 {
    
        background: #00BFA5;
        padding-bottom: 0px;
        border: 1px solid gainsboro;
        margin-top: 19px;
        margin-right: -15px;
        height: 530px;
        margin-left: -6px;
    
    }
    .btn {
        min-width: 119px;
    }
    .btn-default2 {
        color: white;
        background-color: #00BFA5;
        border-color: cadetblue;
        float: left;
        display: inline-block;
        min-width: 180px;
        padding: .4em;
        height: 45px;
        text-align: center;
        color: #fff;
        letter-spacing: 0px;
        margin: 0;
        font-size: 1.125rem;
        border-radius: 4px;
        margin-top: 20px;
        background-color: #00BFA5;
        transition: .5s; 
        border:1px solid #000;
        margin-right: 15px;
        margin-top: unset;
        font-weight: bold;
    }

    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        border-color: #e7e7e7;
        margin-top: 8px;
        background: transparent;
        z-index:100000;
        position: relative;
    }
    .menu-scroll .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        margin-top: 12px;
    }
    .main_events_area .single_events span.separator3 {
        margin: 10px 25px;
    }
    .main_events_area .single_events span.e_text1 {
        margin-left: 5px;
    }
    .main_team_area .owl-carousel .owl-controls .owl-nav .owl-next {
        right: -2288%;
    }

    .main_work1_area .owl-theme .owl-nav {
        top: -600px;
    }

    .main_team_area{
        margin-top: 43px;
    }

    h2{
        margin-top: 12px;
    }
    
    .bannerimg {
        max-width: 100%;
        height: 325px;
        z-index: -1;
    }
    .col-sm-5 {
        width: 44%;
        margin-left: -61px;
    }
    .col-sm-1 {
        width: 17%;
        margin-left: -33px;
    }
.col-sm-3 {
    width: 26%;
}
.copyright_text p {
    color: white;
    font-size: 68%;
    line-height: 25px;
    padding: 30px 0px;
    max-width: 100%;
}
}



@media  (min-width: 800px) and (max-width: 800px){
    html {
        font-size: 90%;
    }
    h3 {
    color: white;
    margin-left: 30px;
    font-size: 1.575rem;
    line-height: 2.5rem;
    font-family: 'Open Sans';
    font-weight: bold;
    letter-spacing: 1px;
    margin-left: 8px;
    padding: 6px;
    margin-top: 0rem;
    float: left;
}

    h5 {

        font-size: 1.125rem;
        margin-bottom: 0.36rem;
        margin-top: -1rem;
        color: #223d61;
        float: left;

    }

    p.homenews {
    font-size: 67%;
    margin-bottom: 0.36rem;
    margin-top: -1rem;
    color: #223d61;
    font-weight: bold;
    margin-top: -5px;
}
.btn-defaultnews {
    color: white;
    background-color: #00BFA5;
    border-color: cadetblue;
    margin-left: 350px;
    margin-top: -23px;
    margin-bottom: 33px;
    font-size: 89%;
    height: inherit;
    width: auto;
}
    .img1 {
    float: right;
    margin: 6px 10px 10px 8px;
    width: 34%;
    padding-right: 15px;
}
    .main_team_area {
        margin-top: 23px;
        border: 3px solid gainsboro;
        background-image: url(../images/home.jpg);
        box-shadow: 0px 10px 5px grey;
        width: 87%;
        margin-left: 68px;
        height: 329px;
    }


.owl-theme .owl-dots {
    text-align: center;
    margin-top: -128px;
}
    .bannerimg {
        max-width: 100%;
        height: 325px;
        z-index: -1;
    }
.logo {

    max-width: 150px;
    margin-top: 10px;
    float: left;
    margin-left: -58px;

}
    .navbar-nav > li {
        padding: 0 6px;
        line-height: 17px;
    }
    .navbar-right > li > a {
        position: relative;
        display: block;
        padding: 0px 1px;
    }
    .navbar-right {
    float: right !important;
    margin-right: -15px;
    margin-top: -42px;
}
    .row {
        margin-right: -15px;
        margin-left: -15px;
        text-align: center;
    }
    .col-sm-4 {
        width: 47.333%;
    }
    .col-sm-1 {
        width: 13%;
        margin-left: -44px;
    }
    .col-md-2 {
        width: 16.66666667%;
        margin-left: 58px;
        font-size: 85%;
        text-align: left;
    }
    .input1 {
        width: 263px;
    }
    .mvmcimg {
        width: 150px;
        height: 150px;
        box-shadow: -3px 7px 5px grey;
        margin-left: 87px;
        padding-right: 2px;
    }
    p.mvmc {
        margin-left: -69px;
        font-size: 80%;
    }
    b.mvmc {
        margin-left: 0px;
        font-size: 100%;
    }
    .mvmcpanel {
        background: #F5F5F5;
        border: 1px solid gainsboro;
        padding-bottom: 36px;
        margin-left: 201px;
        margin-top: 22px;
        margin-right: 4px;
        width: 332px;
        font-size: 97%;
    }
    .missionimg {
        max-width: 91%;
        width: 1500px;
        box-shadow: 6px 7px 5px grey;
    }
    .newsimg {
        display: none;
    }
    .panel1 {
        background: #42A5F5;
        margin-left: 54px;
        margin-top: 20px;
        margin-right: -20px;
    }
    .panel2 {
        background: #F5F5F5;
        border: 1px solid gainsboro;
        padding-bottom: 91px;
        margin-left: 54px;
        margin-top: -14px;
        height: 361px;
        margin-right: -20px;
    }
    .panel3 {
        background: #00BFA5;
        padding-bottom: 0px;
        border: 1px solid gainsboro;
        margin-top: 19px;
        margin-left: 6px;
        margin-right: 2px;
        height: 463px;
    }
    .btn {
        min-width: 119px;
    }
    .btn-default2 {
        color: white;
        background-color: #00BFA5;
        border-color: cadetblue;
        margin-right: 94px;
        margin-top: 4px;
    }

    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        border-color: #e7e7e7;
        margin-top: 8px;
        background: transparent;
        z-index:100000;
        position: relative;
    }
    .menu-scroll .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        margin-top: 12px;
    }
    .main_events_area .single_events span.separator3 {
        margin: 10px 25px;
    }
    .main_events_area .single_events span.e_text1 {
        margin-left: 5px;
    }
    .main_team_area .owl-carousel .owl-controls .owl-nav .owl-next {
        right: -2288%;
    }

    .main_work1_area .owl-theme .owl-nav {
        top: -600px;
    }

    .main_team_area{
        margin-top: 43px;
    }

    h2{
        margin-top: 12px;
    }
    .col-sm-5 {
        width: 50%;
        margin-left: -28px;
    }
    .col-sm-1 {
        width: 16%;
        margin-left: -49px;
    }
.btn-default2 {
        color: white;
        background-color: #00BFA5;
        border-color: cadetblue;
        float: left;
        display: inline-block;
        min-width: 180px;
        padding: .4em;
        height: 45px;
        text-align: center;
        color: #fff;
        letter-spacing: 0px;
        margin: 0;
        font-size: 1.125rem;
        border-radius: 4px;
        margin-top: 20px;
        background-color: #00BFA5;
        transition: .5s; 
        border:1px solid #000;
        margin-right: 15px;
        margin-top: unset;
        font-weight: bold;
    }

}



/* Landscape phones and smaller */
@media (max-width: 479px) {
    html {
        font-size: 100%;
    }
    .main_events_area .single_events span.separator3 {
        margin: 10px 15px;
    }
    .main_events_area .single_events span.e_price{
        font-size:2rem;
    }
    .main_events_area .single_events span.e_text1 {
        margin-left: 5px;
    }
    .single_left_text .separator.sp-layer{
        display: none;
    }

    h1{
        font-size: 205%;
        margin-top: -32px;
    }

    .instagram-thumbnails img{
        width: 15%;
        display: inline-block;
    }
    .single_work_overlay{
        padding-top: 25%;
    }

}

/* @media (max-width: 850px) {

    .main_team_area .owl-carousel .owl-controls .owl-nav .owl-next {
        right: -970%;
    }
    .main_team_area .owl-theme .owl-nav{
        display: none;
    }

} */
@media (min-width: 360px) and (max-width: 499px) { 
    html {
        font-size: 90%;
    }
.modal-dialog {
width: auto;
}
td{
    display: table-cell;
}
h3 {
    color: white;
    margin-left: 30px;
    font-size: 1.475rem;
    line-height: 2.5rem;
    font-family: 'Open Sans';
    font-weight: bold;
    letter-spacing: 1px;
    margin-left: 8px;
    padding: 6px;
    margin-top: 0rem;
}
.thumbnail {
    position: relative;
    width: 100px;
    height: 100px;
    overflow: hidden;
    border: 0;
    padding: 0px;
}
li.class{
line-height: 1.375rem;
margin-bottom: 17px;
font-size: 80%;
}

.b {
    color: #FFF;
    font-size: 108%;
}
.dd {
    width: auto;
    border-radius: 3px;
}
.form-group {
    margin-bottom: 15px;
    text-align: center;
}
.img1{
margin: -7px 10px 21px 8px;
}
.img123 {
    max-width: 60%;
    margin: 0px 0px 54px 70px;
}
.newsimage {
    max-width: 100%;
    box-shadow: 6px 7px 5px grey;
}
.docimg {
    max-width: 89px;
}
.row {
    margin-right: -12px;
    margin-left: -14px;
}
.row3 {
    margin-right: 0px;
margin-left: 0px;
}
.row2 {
    margin-right: -6px;
    margin-left: -6px;
}

.search{
    display: none;
}
.logo {
    max-width: 150px;
    margin-top: -78px;
    float: left;
    margin-left: -24px;
}
.news1{
margin-bottom: 19px;
}
p.service1 {
    line-height: 1.375rem;
    font-size: 75%;
    margin-right: 18px;
}
p.doc1 {
    float: left;
    margin-left:20px;
}
p.about {
    margin: 0 18px 15px;
        margin-left: 18px;
    margin-left: 30px;
    font-size: 80%;
}
p.mvmc {
    margin-left: -126px;
    font-size: 80%;
    padding-left: 142px;
}
p.mission {
    line-height: 1.375rem;
    margin-bottom: 10px;
    font-size: 80%;
    margin-left: 1px;
}
p.doctor1 {
    line-height: 1.375rem;
    margin-bottom: 0px;
    font-size: 90%;
}
.fac {
    margin-left: 0px;
    font-size: initial;
}
h4.aboutus {
    margin-left: 0px;
}
h4.doc {
    font-size: 1.55rem;
}
.fa{
    margin-bottom: 13px;
}
.col-sm-1 {
    width: 40%;
    margin-left: 0px;
}
    .col-md-2 {
    width: 26.667%;
    margin-left: -143px;
    font-size: 85%;
    }
    .readmorearrow {
    float: right;
    margin: 0 0 10px 10px;
    width: 35px;
    height: 19px;
    padding-right: 15px;
}
    .mvmcpanel {
    background: #F5F5F5;
    border: 1px solid gainsboro;
    padding-bottom: 12px;
    height: auto;
    margin-top: 22px;
    margin-left: auto;
margin-right: auto;
width: 85%;
}
.facilitiespanel {
    padding-bottom: 20px;
    border-bottom: solid 1px #143FA4;
    width: 85%;
    margin-left: 28px;
    font-size: 80%;
}

#map{
    width: 100%;
    margin-left: 0px;
    }
.g-recaptcha {
    margin-bottom: 10px;
    margin-top: -14px;

}
.missionimg {
    max-width: 88%;
    margin-bottom: 10px;
}

    .panel7 {
    /* border: 1px solid gainsboro; */
    width: 333px;
    }
    .img{
    float: left;
margin: 0 0 10px 26px;
max-width: 48%;
padding-right: 15px;
    }
    .img4 {
    max-width: 60%;
    /* width: -moz-available;
    height: 316px; */
    box-shadow: 6px 7px 5px grey;
    margin-right: 76px;
    }
    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        border-color: #e7e7e7;
        margin-top: 0px;
        background: gainsboro;
        z-index: 100000;
        position: relative;
    }
    .servicepanel {
        padding-bottom: 20px;
        border-bottom: solid 1px #143FA4;
        width: 76%;
        margin-left: 46px;
    }
.serviceimg {

    max-width: 89%;
    box-shadow: 6px 7px 5px grey;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 11px;
    padding-left: 0px;

}
    b.mvmc {
        margin-left: 8px;
        font-size: 100%;
    }
b.exec {
        margin-left: 1px;
        font-size: large;
    }
    b.mission {
    color: #143FA4;
    margin-left: 0px;
    }
    b.aboutus {
    margin-left:10px;
    }

    .mvmcimg {
        max-width: 34%;
        box-shadow: -3px 7px 5px grey;
        margin-left: 15px;
        margin-right: 10px;
    }
iframe {
    width: 100%;
}
.iframe{
width: -moz-available;
    width: -webkit-fill-available;
    margin-right: 10px;
    margin-bottom: 10px;
}
#map{
width: 100%;
margin-left: 0px;
}
    
    .instagram-thumbnails img{
        width: 14%;
        display: inline-block;
    }
    .single_work_overlay{
        padding-top: 15%;
    }
    .main_team_area {
        margin-left: 22px;
        height: 159px;
        margin-top: 20px;
        display: none;
    }
    .main_team_area .owl-theme .owl-nav{
        display: none;
    }
    .main_team_area .owl-controls {
        margin-top: -46px;
    }
    .bannerimg {
        max-width: 100%;
        height: 201px;
        z-index: -1;
    }
    .newsimg{
        display: none;
    }
    .img4 {
    max-width: 60%;
    box-shadow: 6px 7px 5px grey;
    margin-right: 76px;
    margin-left: 76px;
    }
    .panel1 {
    background: #42A5F5;
    margin-left: -7px;
    margin-top: 20px;
    margin-right: -7px;
    margin-bottom: 37px;

}
.panel2 {
    background: #F5F5F5;
    border: 1px solid gainsboro;
    padding-bottom: 91px;
    margin-left: -7px;
    margin-top: -43px;
    height: auto;
    margin-right: -7px;
}
.panel3 {
    background: #00BFA5;
    padding-bottom: 0px;
    border: 1px solid gainsboro;
    margin-top: 19px;
    margin-right: -14px;
    height: auto;
    margin-left: 0px;
}
.panel4 {
    text-align: center;
}
#search{
float: none;
}

    .btn {
        display: inline-block;
        min-width: 129px;
        padding: .4em;
        height: 27px;
        text-align: center;
        color: #fff;
        letter-spacing: 0px;
        margin: 0;
            margin-top: 0px;
            margin-right: 0px;
            margin-left: 0px;
        font-size: 73%;
        border-radius: 4px;
        margin-top: 20px;
        background-color: #00BFA5;
        transition: .5s;
        border: 1px solid #000;
            border-top-color: rgb(0, 0, 0);
            border-right-color: rgb(0, 0, 0);
            border-bottom-color: rgb(0, 0, 0);
            border-left-color: rgb(0, 0, 0);
        margin-right: 15px;
        margin-top: unset;
        font-weight: bold;
        margin-bottom: 26px;
    }
.btn-defaultmore {
    background-color: #0f4b9b;
}
   .btn-default2 {
        color: white;
        background-color: #00BFA5;
        border-color: cadetblue;
        float: left;
        display: inline-block;
        min-width: 180px;
        padding: .4em;
        height: 45px;
        text-align: center;
        color: #fff;
        letter-spacing: 0px;
        margin: 0;
        font-size: 1.125rem;
        border-radius: 4px;
        margin-top: 20px;
        background-color: #00BFA5;
        transition: .5s; 
        border:1px solid #000;
        margin-right: 15px;
        margin-top: unset;
        font-weight: bold;
    }
   
b.call1 {
    color: #143FA4;
    font-size: large;
    letter-spacing: 0px;
}
.input1 {
    width: 95%;
    margin-left: 9px;
}
.main_menu_bg .nave_menu {
    margin-top: 50px;
    transition: all 0.6s;
    margin-left: 6px;
    margin-right: 8px;
}
   ul.pagination{
       display: inline-block;
       padding-left: 0;
       margin: 20px 0;
           margin-left: 0px;
       border-radius: 4px;
       margin-left: 0px;
   }
.pagination > li > a, .pagination > li > span {
    padding: 6px 6px;
}
   
.copyright_text p {
    color: white;
    font-size: 74%;
    line-height: 21px;
    padding: 4px 0px;
    max-width: 100%;
    }
.col-sm-5 {
    width: 100%;
}
}


@media (min-width: 500px) and (max-width: 640px) { 
    html {
        font-size: 90%;
    }
td{
    display: table-cell;
}
.form-group {
    margin-bottom: 15px;
    text-align: center;
}
.btn-defaultmore {
    background-color: #0f4b9b;
}
.thumbnail {
    position: relative;
    width: 100px;
    height: 100px;
    overflow: hidden;
    border: 0;
    padding: 0px;
}
.serviceimg {
    max-width: 95%;
    box-shadow: 6px 7px 5px grey;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 10px;
    margin-bottom: 12px;
}
.newsimage {
    max-width: 100%;
    box-shadow: 6px 7px 5px grey;
}
.row {
    margin-right: -12px;
    margin-left: -14px;
}
.col-sm-5 {
    width: 100%;
}
.search{
    display: none;
}
.logo {
    max-width: 166px;
    margin-top: -93px;
    float: left;
}
.news1{
margin-bottom: 19px;
}
li.class{
line-height: 1.375rem;
margin-bottom: 17px;
font-size: 80%;
}
p.about {
    margin: 0 18px 15px;
        margin-left: 18px;
    margin-left: 30px;
    font-size: 80%;
}
p.doc1 {
    float: left;
    margin-left:20px;
}
p.mvmc {
    margin-left: -126px;
    font-size: 80%;
    padding-left: 142px;
}
p.mission {
    line-height: 1.375rem;
    margin-bottom: 10px;
    font-size: 80%;
    margin-left: 1px;
}
.g-recaptcha {
    margin-bottom: 10px;
    margin-top: -14px;

}
.fac {
    margin-left: 0px;
    font-size: initial;
}
h4.aboutus {
    margin-left: 0px;
}
.col-sm-1 {
    width: 40%;
    margin-left: 0px;
}
    .col-md-2 {
    width: 26.667%;
    margin-left: -143px;
    font-size: 85%;
    }
    .readmorearrow {
    float: right;
    margin: 0 0 10px 10px;
    width: 35px;
    height: 19px;
    padding-right: 15px;
}
       .mvmcpanel {
    background: #F5F5F5;
    border: 1px solid gainsboro;
    padding-bottom: 12px;
    height: auto;
    margin-top: 22px;
    margin-left: auto;
    margin-right: auto;
width: 70%;
}
.facilitiespanel {
    padding-bottom: 20px;
    border-bottom: solid 1px #143FA4;
    width: 85%;
    margin-left: 28px;
    font-size: 80%;
}
iframe {
    width: 100%;
}
.iframe{
width: -moz-available;
    width: -webkit-fill-available;
    margin-right: 10px;
    margin-bottom: 10px;
}
.missionimg {
    max-width: 88%;
    margin-bottom: 10px;
}

    .panel7 {
    /* border: 1px solid gainsboro; */
    width: 333px;
    }
    .img1{
     margin: -11px 10px 10px 8px;
}
.img123 {
    max-width: 43%;
    margin: -5px 0px 54px 18px;
}
.img4 {
    max-width: 60%;
    box-shadow: 6px 7px 5px grey;
    margin-right: 27px;
    float: left;
}
    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        border-color: #e7e7e7;
        margin-top: 0px;
        background: gainsboro;
        z-index: 100000;
        position: relative;
    }
    .servicepanel {
        padding-bottom: 20px;
        border-bottom: solid 1px #143FA4;
        width: 76%;
        margin-left: 46px;
    }
    .serviceimg {
        max-width: 46%;
        max-height: 148px;
        box-shadow: 6px 7px 5px grey;
        padding-right: 10px;
    }
    b.mvmc {
        margin-left: 1px;
        font-size: 100%;
    }
    b.exec{
    margin-left:0px;
    }
    b.mission {
    color: #143FA4;
    margin-left: 0px;
    }
    .mvmcimg {
        max-width: 34%;
        box-shadow: -3px 7px 5px grey;
        margin-left: 15px;
        margin-right: 10px;
    }
    .serviceimg {
        max-width: 49%;
        max-height: 151px;
        box-shadow: 6px 7px 5px grey;
        padding-right: 17px;
    }
    .instagram-thumbnails img{
        width: 14%;
        display: inline-block;
    }
    .single_work_overlay{
        padding-top: 15%;
    }
    .main_team_area {
        margin-left: 22px;
        height: 159px;
        margin-top: 20px;
        display: none;
    }
    .main_team_area .owl-theme .owl-nav{
        display: none;
    }
    .main_team_area .owl-controls {
        margin-top: -46px;
    }
    .bannerimg {
        max-width: 100%;
        height: 201px;
        z-index: -1;
    }
    .newsimg{
        display: none;
    }
    .panel1 {
    background: #42A5F5;
    margin-left: -7px;
    margin-top: 20px;
    margin-right: -7px;
    margin-bottom: 37px;
}
.panel2 {
    background: #F5F5F5;
    border: 1px solid gainsboro;
    padding-bottom: 91px;
    margin-left: -7px;
    margin-top: -43px;
    height: auto;
    margin-right: -7px;
}
.panel3 {
    background: #00BFA5;
    padding-bottom: 0px;
    border: 1px solid gainsboro;
    margin-top: 19px;
    margin-right: -14px;
    height: auto;
    margin-left: 0px;
}
.panel4 {
    text-align: center;
}
#search{
float: none;
}
    .btn {
        display: inline-block;
        min-width: 129px;
        padding: .4em;
        height: 40px;
        text-align: center;
        color: #fff;
        letter-spacing: 0px;
        margin: 0;
            margin-top: 0px;
            margin-right: 0px;
            margin-left: 0px;
        font-size: 1.125rem;
        border-radius: 4px;
        margin-top: 20px;
        background-color: #00BFA5;
        transition: .5s;
        border: 1px solid #000;
            border-top-color: rgb(0, 0, 0);
            border-right-color: rgb(0, 0, 0);
            border-bottom-color: rgb(0, 0, 0);
            border-left-color: rgb(0, 0, 0);
        margin-right: 15px;
        margin-top: unset;
        font-weight: bold;
        float: right;
    }
.btn-default2 {
        color: white;
        background-color: #00BFA5;
        border-color: cadetblue;
        float: left;
        display: inline-block;
        min-width: 180px;
        padding: .4em;
        height: 45px;
        text-align: center;
        color: #fff;
        letter-spacing: 0px;
        margin: 0;
        font-size: 1.125rem;
        border-radius: 4px;
        margin-top: 20px;
        background-color: #00BFA5;
        transition: .5s; 
        border:1px solid #000;
        margin-right: 15px;
        margin-top: unset;
        font-weight: bold;
    }
   
b.call1 {
    color: #143FA4;
    font-size: large;
    letter-spacing: 0px;
}
.input1 {
    width: 95%;
    margin-left: 9px;
}
.main_menu_bg .nave_menu {
    margin-top: 50px;
    transition: all 0.6s;
    margin-left: 6px;
    margin-right: 8px;
}
.copyright_text p {
    color: white;
    font-size: 74%;
    line-height: 21px;
    padding: 4px 0px;
    max-width: 100%;
    }
}

@media (max-width: 359px) {
 .logo {
    max-width: 150px;
    margin-top: -73px;
    margin-left: -21px;
    float: left;
}


.img4 {
    max-width: 65%;
    box-shadow: 5px 3px 5px grey;
    margin-left: 42px;
    margin-right: 42px;
}

p.homenews {
    font-size: 79%;
}   

p.about {

    margin: 0 0 15px;
    margin-left: 30px;
    font-size: 80%;
    margin-right: 10px;

}
.img123 {
    max-width: 72%;
    margin: 0px 0px 54px 42px;
}
.newsimg{
    display: none;
}
#html_element{
    margin-bottom: 12px;
}
.search{
    display: none;
}

.missionimg {

    max-width: 88%;
    width: 1500px;
    box-shadow: 6px 7px 5px grey;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 10px;

}

.img4 {
    max-width: 65%;
    box-shadow: 5px 3px 5px grey;
    margin-left: 42px;
    margin-right: 42px;
}
b.aboutus {
    font-weight: 700;
    font-size: 101%;
    margin-left: 10px;
}
        /* h1{
            font-size: 205%;
            margin-top: -32px;
        } */
        html {
            font-size: 90%;
        }
        iframe{
        width:315px;
    }
    .col-sm-1 {
        width: 40%;
        margin-left: 0px;
    }
    .news1{
    margin-bottom: 19px;
    }
.input1 {
        font-family: inherit;
        font-size: inherit;
        line-height: 31px;
        border-radius: 3px;
        width: 91%;
        margin-left: 14px;
    }
        .mvmcpanel {
        background: #F5F5F5;
        border: 1px solid gainsboro;
        padding-bottom: 36px;
        margin-left: 13px;
        margin-top: 22px;
        margin-right: 20px;
        width: 100%;
        }
        .navbar-default .navbar-collapse, .navbar-default .navbar-form {
            border-color: #e7e7e7;
            margin-top: 0px;
            background: gainsboro;
            z-index: 100000;
            position: relative;
        }
        .servicepanel {
            padding-bottom: 20px;
            border-bottom: solid 1px #143FA4;
            width: 76%;
            margin-left: 46px;
        }
        .serviceimg {
            max-width: 46%;
            max-height: 148px;
            box-shadow: 6px 7px 5px grey;
            padding-right: 10px;
        }
        b.mvmc {
            margin-left: 5px;
            font-size: 100%;
        }
        .mvmcimg {
            width: 150px;
            height: 150px;
            box-shadow: 6px 7px 5px grey;
            margin-left: 15px;
            margin-right: 10px;
        }
        .instagram-thumbnails img{
            width: 14%;
            display: inline-block;
        }
        .single_work_overlay{
            padding-top: 15%;
        }
        .main_team_area {
            margin-left: 20px;
            height: 176px;
            display: none;
        }
        .main_team_area .owl-theme .owl-nav{
            display: none;
        }
        .main_team_area .owl-controls {
            margin-top: -46px;
        }
        .bannerimg {
            max-width: 100%;
            height: 218px;
            z-index: -1;
        }
        .panel1 {
            background: #42A5F5;
            margin-left: 5px;
            margin-top: 20px;
            margin-right: 7px;
            margin-bottom: 34px;
        }
        .panel2 {
            background: #F5F5F5;
            border: 1px solid gainsboro;
            padding-bottom: 91px;
            margin-left: 5px;
            margin-top: -45px;
            height: auto;
            margin-right: 7px;
        }
        .btn {
            display: inline-block;
            min-width: 17%;
            padding: .4em;
            height: 30px;
            text-align: center;
            color: #fff;
            letter-spacing: 0px;
            margin: 0;
                margin-top: 0px;
                margin-right: 0px;
                margin-left: 0px;
            font-size: 94%;
            border-radius: 4px;
            margin-top: 20px;
            background-color: #00BFA5;
            transition: .5s;
            border: 1px solid #000;
                border-top-color: rgb(0, 0, 0);
                border-right-color: rgb(0, 0, 0);
                border-bottom-color: rgb(0, 0, 0);
                border-left-color: rgb(0, 0, 0);
            margin-right: 15px;
            margin-top: -4px;
            font-weight: bold;
            float: right;
            margin-bottom: 21px;
        }
        .btn-defaultmore{
            background-color: #0f4b9b;
        }
        .panel3 {
            background: #00BFA5;
            padding-bottom: 0px;
            border: 1px solid gainsboro;
            margin-top: 19px;
            margin-right: 0px;
            height: auto;
            margin-left: 10px;
        }
    
    }

    /* @media (min-width: 768px) and (max-width: 1280px) { 
       .main_team_area{
        margin-top: 43px;
        height: 247px;
        margin-left: 48px;
       } */

       @media (min-width: 641px) and (max-width: 800px) { 
.logo {
    max-width: 163px;
    margin-top: -90px;
    float: left;
}
td{
    display: table-cell;
}
.img123 {
    max-width: 40%;
    margin: 0px 0px 54px 28px;
}
.btn-defaultmore {
    background-color: #0f4b9b;
}
.search{
    display: none;
}
.main_team_area{
   display: none;
}
.form-group {
    margin-bottom: 15px;
    text-align: center;
}
.col-sm-5 {
    width: 100%;
}
        .main_team_area {
            margin-top: 23px;
            border: 3px solid gainsboro;
            background-image: url(../images/home.jpg);
            box-shadow: 0px 10px 5px grey;
            width: 87%;
            margin-left: 48px;
            height: 272px;
        }
        .bannerimg {
            max-width: 100%;
            height: 314px;
            z-index: -1;
        }
    .mvmcpanel {
    background: #F5F5F5;
    border: 1px solid gainsboro;
    margin-top: 22px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 12px;
    height: auto;
    width: 50%;
}
.fac {
    margin-left: 0px;
    font-size: initial;
}
h4.aboutus {
    margin-left: 0px;
}
p.doc1 {
    float: left;
    margin-left:20px;
}
        p.about {
            margin: 0 0 15px;
                margin-left: 0px;
            margin-left: 30px;
            font-size: 80%;
            padding-right: 19px;
        }
       
        p.mvmc {
            margin-left: -126px;
            font-size: 80%;
            padding-left: 142px;
        }
        
        b.mvmc {
            margin-left: 0px;
            font-size: 100%;
        }
        b.exec {
            font-size: large;
            margin-left: 0px;
        }
        .mvmcimg {
            max-width: 29%;
            box-shadow: -3px 7px 5px grey;
            margin-left: 37px;
            margin-right: 10px;
        }
        .panel1 {
            background: #42A5F5;
            margin-left: 33px;
            margin-top: 20px;
            margin-right: 20px;
            margin-bottom: 22px;
        }
        .panel2 {
            background: #F5F5F5;
            border: 1px solid gainsboro;
            padding-bottom: 91px;
            margin-left: 33px;
            margin-top: -31px;
            height: auto;
            margin-right: 19px;
        }
        .panel3 {
            background: #00BFA5;
            padding-bottom: 0px;
            border: 1px solid gainsboro;
            margin-top: 19px;
            margin-right: 7px;
            height: auto;
            margin-left: 43px;
        }

        iframe {
    width: 100%;
}
.iframe{
width: -moz-available;
    width: -webkit-fill-available;
    margin-right: 10px;
    margin-bottom: 10px;
}
        .servicepanel {
            padding-bottom: 20px;
            border-bottom: solid 1px #143FA4;
            width: 76%;
            margin-left: 80px;
        }
        .newsimg {
            display: none;
        }
        .form-group {
            margin-bottom: 15px;
            text-align: center;
        }
        .navbar-default .navbar-collapse, .navbar-default .navbar-form {
            border-color: #e7e7e7;
            margin-top: 0px;
            background: gainsboro;
            z-index: 100000;
            position: relative;
        }
        .copyright_text p {
            color: white;
            font-size: 74%;
            line-height: 25px;
            padding: 12px 0px;
            max-width: 100%;
        }
        .col-sm-1 {
            width: 21%;
            margin-left: 0px;
        }
        .img4 {

            max-width: 65%;
            box-shadow: 5px 3px 5px grey;
            float: left;
            margin-right: 24px;

        }
        .col-md-2 {
            width: 26.667%;
            margin-left: -143px;
            font-size: 85%;
            }



}
    