/*
Author: Bootstrapthemes
Author URI: http://bootstrapthemes.co
*/
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   html,
   body {
       background-color: #fff;
       font-size: 18px;
       color: #656565;
       width: 100%;
       padding: 0;
       margin-left: 0;
       margin-right: 0;
       font-family: 'Open Sans';
       font-weight: 300;
       /*background-image: url(../images/bg1.jpg);*/
       background-size: cover;
   }
   
   .preloader {
       position: fixed;
       top: 0;
       left: 0;
       right: 0;
       bottom: 0;
       background-color: #fefefe;
       z-index: 99999;
       height: 100%;
       width: 100%;
       overflow: hidden !important;
   }
   .loaded {
       width: 60px;
       height: 60px;
       position: absolute;
       left: 50%;
       top: 50%;
       background-image: url(../images/loading.gif);
       background-repeat: no-repeat;
       background-position: center;
       -moz-background-size: cover;
       background-size: cover;
       margin: -20px 0 0 -20px;
   }
   img {
       -moz-user-select: none;
       -webkit-user-select: none;
       -ms-user-select: none;
       user-select: none;
       -webkit-user-drag: none;
       user-drag: none;
   }
   .img {
    float: left;
    margin: 0 0 10px 26px;
    /*max-width: 35%;*/
    max-width: 22%;
    /*//height: 122px;*/
    padding-right: 15px;
}

  td { 
  display : inline-block; 
  }


  .thumbnail {
  position: relative;
  width: 122px;
  height: 122px;
  overflow: hidden;
border : 0;
  }
  
  .img123{
    max-width: 24%; 
    margin: 0px 0px 54px 82px;
  }
   
   .img1 {
       float: right;
       margin: -30px 12px 10px 8px;
       width: 34%;
       //height: 122px;
       padding-right: 15px;
   }
   
   .img11 {
       margin: 0 0 10px 10px;
       max-width: 250px;
       max-height: 185px;
       padding-right: 15px;
       box-shadow: 6px 7px 5px grey;
   }
   
   .img2 {
       max-width: 100%;
       background-size: contain;
       background-position: center;
       background-repeat: no-repeat;
       box-shadow: 6px 7px 5px grey;
   }
   
   .img3 {
       max-width: 100%;
       width: -moz-available;
       box-shadow: 6px 7px 5px grey;
   }
   
   
   .img4 {
       max-width: 65%;
       box-shadow: 5px 3px 5px grey;
   
   }
   
   .img5 {
       
       width: 150px;
       height: 150px;
       box-shadow: 6px 7px 5px grey;
   
   }
   .img6 {
    max-width: 23%;
   }
   
   .bannerimg {
       max-width: 100%;
       max-height: 100%;
       z-index: -1;
   }
   
   .mvmcimg {
    max-width: 42%;
    box-shadow: 6px 7px 5px grey;
    margin-left: 87px;
   }
   
   .caption{
       margin-top: -45px;
       z-index: 1000;
       margin-right: 568px;
   }
   
   .image-circle{
       border-radius: 50%;
       max-width: 130px;
       max-height: 130px;
   }
   
   input[type=search] {
       width: 150px;
       -webkit-transition: width 0.4s ease-in-out;
       transition: width 0.4s ease-in-out;
   }
   
   /* When the input field gets focus, change its width to 100% */
   input[type=search]:focus {
       width: 30%;
   }
   
   a,
   a:hover,
   a:active,
   a:focus {
       text-decoration: none;
       outline: none;
   }
   .hover:hover{
    background-color: lightblue;
    width: calc(100%-1%);

   }
   .hover1:hover{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
       
   }
   
   a,
   button,
   a span {
       -webkit-transition: 0.2s ease-in-out;
       -o-transition: 0.2s ease-in-out;
       transition: 0.2s ease-in-out;
   }
   .btn.extra-width {
       padding: 13px 40px;
   }
   .btn:focus,
   .btn:active {
       outline: inherit;
   }
   *,
   *:before,
   *:after {
       -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
       box-sizing: border-box;
       /*    direction: rtl;*/
   }
   p {
       margin: 0 0 15px;
       margin-left: 30px;
   }
   
   p.about {
       margin: 0 0 15px;
       margin-left: 30px;
       font-size: 80%;
   }
      p.service1 {
    line-height: 1.375rem;
    margin-bottom:30px;
    font-size: 75%;
}
p.mission {
    line-height: 1.375rem;
    margin-bottom: 10px;
    font-size: 80%;
    margin-left: 53px;
}
p.mvmc{
    /*margin-left: -126px;*/
    margin-left: -126px;
    font-size: 80%;
}
p.doctor1 {

    line-height: 1.375rem;
    margin-bottom: 0px;
    font-size: 80%;

}

   a{}
   .clear {
       clear: both;
   }
  
   b{
       color: #143FA4;
   }
   b.mission{
    color: #143FA4;
    margin-left: 29px;
    }
   b.exec{
    font-size: large;
    margin-left: 78px;
        }
   b.call{
       color: #143FA4;
       font-size: x-large;
       letter-spacing: -1px;
   }
   
   b.call1{
       color: #143FA4;
       font-size: large;
       letter-spacing: 1px;
   }
   b.fac{
        color: #143FA4;
        font-weight: 700;
   }
   
   img {
       max-width: 64%;
   }
   
   .textarea{
       font-family: inherit;
       font-size: inherit;
       line-height: 31px;
       border-radius: 3px;
       width: 250px;
       height: 95px;
       margin-left: 14px;
       background: white;
       color: black;
   }
   
   textarea,
   input[type="text"],
   input[type="password"],
   input[type="datetime"],
   input[type="datetime-local"],
   input[type="date"],
   input[type="month"],
   input[type="time"],
   input[type="week"],
   input[type="number"],
   input[type="email"],
   input[type="url"],
   input[type="search"],
   input[type="tel"],
   input[type="color"],
   .uneditable-input {
       outline: none;
   }
   .form-control {
       border: 1px solid rgba(0, 0, 0, 0.08);
       font-size: 16px;
       height: 45px;
   }
   .form-control {
       display: inline-block;
       width: 60%;
       height: 35px;
       padding: 6px 25px;
       font-size: 14px;
       line-height: 1.42857143;
       color: #fff;
       background-color: #182e4c;
       background-image: none;
       border: 0px solid #ccc;
       border-radius: 30px;
       -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
       box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
       -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
       transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
   }
   .form-control:focus {
       border-color: #5e9a28;
   }
   
   
   h4,
   h6 {
       margin: 0;
       color:#000000;
       letter-spacing: 1px;
   }
   h1{
       color: #00BFA5;
       letter-spacing: -3px;
       margin-top: -77px;
   }
   h2 {
       font-size:3rem;
       line-height: 3rem;
       font-family: 'Open Sans';
       font-weight: 700;
       color: #143FA4;
       letter-spacing: -2px;
       margin-top: -18px;
   }
   h2.h2{
       font-size:2rem;
       line-height: 3rem;
       font-family: 'Open Sans';
       font-weight: 700;
       color: #143FA4;
       letter-spacing: -2px;
       margin-top: -15px;
   }
   h4,
    {
       font-weight: 300;
       margin: 0;
       line-height: 2rem;
       margin-left: 30px;
       letter-spacing: -2px;
   }
   h4.doctor{
       font-weight: bold;
       margin: 0;
       line-height: 2rem;
       margin-left: 30px;
       letter-spacing: 0px;
       font-size: 140%;
   }
   h5 {
       font-weight: bold;
       margin: 0;
       line-height: 2rem;
       margin-left: 30px;
       letter-spacing: 0px;
       color: #143FA4;
   
   }

  p.homenews {
    font-size: 1.125rem;
    margin-bottom: 0.36rem;
    margin-top: -1rem;
    color: #223d61;
    font-weight: bold;
    margin-top: -5px;
}
   
   h1 {
       font-size: 3rem;
       font-family: 'Open Sans';
       margin-bottom: -48px;
       /*font-weight: 900;*/
   }
   
   h3 {
       color: white;
       /*margin-left: 30px;*/
       font-size: 1.575rem;
       line-height: 2.5rem;
       font-family: 'Open Sans';
       font-weight: bold;
       letter-spacing: 1px;
       margin-left: 8px;
       padding: 6px;
       margin-top: 0rem;
   }
   h4 {
       font-size: 2.5rem;
       line-height: 2.5rem;
       font-family: 'Open Sans';
       font-weight: 700;
       color: #143FA4;
   
   }
   
   h4.h4 {
           font-size: 1.75rem;
           line-height: 3.5rem;
           font-family: 'Open Sans';
           font-weight: 700;
           color: #143FA4;
           margin-top: -58px;
           margin-bottom: -57px;
       
       }
h4.doc{
    font-size: 1.75rem;
    line-height: 3.5rem;
    font-family: 'Open Sans';
    font-weight: 700;
    color: #143FA4;
    margin-top: -39px;
    margin-bottom: 15px;
}
   h4.h4 > a{
       color: #143FA4;
   }
    h5 {
       font-size: 1.125rem;
       margin-bottom: 0.36rem;
       margin-top: -1rem;
       color:#223d61;
   } 
/*h5 {
    font-size: 1.125rem;
    margin-bottom: 6px;
    margin-top: -24px;
    color: #223d61;
}*/
   h6 {
       font-size: 1rem;
       margin-bottom: .9rem;
   }
   
   p {
       line-height: 1.375rem;
       font-size: 85%;
   }
   p:last-child {
       margin-bottom: 0px;
   }
   .text {
       color: #333333;
   }
   .coloricon i {
       color: #5e9a28;
   }
   .colorsbg{
       background: white;
   }
   .whitetext {
       color: #fff;
   }
   .blackbg{
       background: #000;
   }
   .lightbg {
       background-color: #f9f9f9;
   }
   .transition {
       -webkit-transition: all 300ms linear;
       -moz-transition: all 300ms linear;
       -o-transition: all 300ms linear;
       -ms-transition: all 300ms linear;
       transition: all 300ms linear;
   }
   
   /*
   Section
   */
   .sections {
       padding-top:85px;
       padding-bottom: 105px;
       overflow: hidden;
   }
   .sections.footer {
       padding-bottom: 80px;
   }
   section .subtitle h5 {
       margin-top: 10px;
       font-size: 1.3rem;
   }
   .parallax-section {
       max-width: 100%;
       color: #ffffff;
   }
   section .title-half h2 {
       font-size: 3rem;
       line-height: 4rem;
       font-weight: 300;
       margin-bottom: 1.4rem;
   }
   section .subtitle-half h5 {
       font-weight: 100;
       font-size: 17px;
   }
   ol{
   font-size: 85%;   
}
   ul{
       margin-left: 30px;
   }
   ul.contact{
       margin-left: -40px;
   }
   
   .heading {
       margin-bottom: 4rem;
   }
   .overlay {
       background-color: rgba(0, 0, 0, 0.75);
       width: 100%;
       height: 100%;
       position: absolute;
       left:0;
       top:0;
   }
   .home-overlay {
       background-color:rgba(255, 225, 189, 0.9);
       width: 100%;
       height:100%;
       position: absolute;
       left:0;
       top:0;
   }
   .home-overlay-fluid {
       background-color: rgba(41, 41, 41, 0.68);
       width: 80%;
       margin: auto;
   }
   .overlay-img {
       background: rgba(0, 0, 0, 0.3);
       width: 100%;
       padding-top: 100px;
       padding-bottom: 100px;
       color: #ffffff;
   }
   .no-padding {
       padding: 0 !important;
       margin:0 !important;
   }
   .fluid-blocks-col {
       padding: 70px 40px 0 80px;
   }
   .fluid-blocks-col-right {
       padding: 70px 80px 0 40px;
   }
   /*
   Separator
   */
   .separator {
       height: 2px;
       width: 60px;
       margin: 20px auto;
       background: #000;;
   }
   .separator2 {
       height: 2px;
       width: 60px;
       margin:20px 0px;
       background: #000;
   }
   .separator3 {
       height: 2px;
       width: 50px;
       margin:10px auto;
       background: #fff;
   }
   .separator4 {
       height: 2px;
       width: 30px;
       margin:20px 0px;
       background: #5e9a28;
   }
   /*section:nth-of-type(odd) {
       background-color: #F9F9F9;
   }*/
   /*
   Button
   */
   .btn-primary.active.focus,
   .btn-primary.active:focus,
   .btn-primary.active:hover,
   .btn-primary:active.focus,
   .btn-primary:active:focus,
   .btn-primary:active:hover,
   .open > .dropdown-toggle.btn-primary.focus,
   .open > .dropdown-toggle.btn-primary:focus,
   .open > .dropdown-toggle.btn-primary:hover,
   .btn-primary.focus,
   .btn-primary:focus,
   .btn-primary.disabled,
   .btn-primary.disabled:hover {
       color: #ffffff;
       background-color: #522bac;
       border-color: #522bac;
   }
   
   .btn {
       display: inline-block;
       min-width: 180px;
       padding: .4em;
       height: 45px;
       text-align: center;
       color: #fff;
       letter-spacing: 0px;
       margin: 0;
       font-size: 1.125rem;
       border-radius: 4px;
       margin-top: 20px;
       background-color: #00BFA5;
       transition: .5s; 
       border:1px solid #000;
       margin-right: 15px;
       margin-top: unset;
       font-weight: bold;
       float: right;
   
   }
   
   .btn2 {
    display: inline-block;
    min-width: 163px;
    padding: .4em;
    height: 45px;
    text-align: center;
    color: #fff;
    letter-spacing: 0px;
    margin: 0;
        margin-top: 0px;
        margin-right: 0px;
    font-size: 1.125rem;
    border-radius: 5px;
    margin-top: 20px;
    background-color: #1565C0;
    transition: .5s;
    border: 1px solid #000;
    margin-right: 15px;
    margin-top: -54px;
    font-weight: bold;
    float: right;
   }
   
   .btn:hover {
       background-color:#ffcb93;
       color: #000;
       text-decoration: none;
       border:1px solid #ffcb93;
   }
   .btn-default {
       color: white;
       background-color: #00BFA5;
       border-color: cadetblue;
       margin-left: 350px;

   }
    .btn-defaultmore {
       color: white;
       background-color: #0f4b9b;
       margin-left: 350px;
        font-size: 83%;
    height: inherit;
width:auto;

   }
   .btn-defaultnews {
    color: white;
    background-color: #00BFA5;
    border-color: cadetblue;
    margin-left: 350px;
    margin-top: -41px;
    margin-bottom: 33px;
    font-size: 83%;
    height: inherit;
width: 38%;
}


   .btn-default3 {
    color: white;
    background-color: #00BFA5;
    border-color: cadetblue;
    margin-left: 50px;
}
   
   .btn-default1 {
       color: white;
       background-color: #00BFA5;
       border-color: cadetblue;
       border-radius: 4px;
       padding: 5px;
   }
   .btn-default2 {
    color: white;
    background-color: #00BFA5;
    border-color: cadetblue;
    display: inline-block;
       min-width: 180px;
       padding: .4em;
       height: 45px;
       text-align: center;
       color: #fff;
       letter-spacing: 0px;
       margin: 0;
       font-size: 1.125rem;
       border-radius: 4px;
       margin-top: 20px;
       background-color: #00BFA5;
       transition: .5s; 
       border:1px solid #000;
       margin-right: 15px;
       margin-top: -60px;
       font-weight: bold;
       float: right;
}
   
   
   .btn-default:hover {
       color: #333;
       background-color: #fff;
       border-color:#000;
   }
   
   /*
   Extra height css
   */
   .margin-top-20 {
       margin-top: 20px;
   }
   .margin-bottom-20 {
       margin-bottom: 20px;
   }
   .margin-top-40 {
       margin-top: 40px;
   }
   .margin-bottom-40 {
       margin-bottom: 40px;
   }
   .margin-top-60 {
       margin-top: 60px;
   }
   .margin-top-80 {
       margin-top: 80px;
   }
   .margin-top-120 {
       margin-top: 120px;
   }
   .margin-80 {
       margin-top: 80px;
       margin-bottom: 80px;
   }
   .margin-bottom-60 {
       margin-bottom: 60px;
   }
   
   .margin-bottom-80 {
       margin-bottom: 80px;
   }
   .padding-top-20 {
       padding-top: 1.33rem;
   }
   .padding-bottom-20 {
       padding-bottom: 1.33rem;
   }
   .padding-top-40 {
       padding-top: 2.66rem;
   }
   .padding-bottom-40 {
       padding-bottom: 2.66rem;
   }
   .padding-top-60 {
       padding-top: 5rem;
   }
   .padding-bottom-60 {
       padding-bottom: 5rem;
   }
   .padding-bottom-0 {
       padding-bottom: 0;
   }
   /*padding*/
   .padding-twenty {
       padding: 10px 0;
   }
   .padding-fourty {
       padding: 20px 0;
   }
   .padding-sixty {
       padding: 30px 0;
   }
   .padding-eighty {
       padding: 40px 0;
   }
   h1 span {
       color: #5e9a28;
       font-weight: 400;
   }
   
   /*for placeholder changes*/
   
   input::-webkit-input-placeholder {
       color: #555555;
   }
   input::-moz-placeholder {
       color: #555555;
   }
   input::-ms-input-placeholder {
       color: #555555;
   }
   
   /*for image bg*/
   
   
   /*.img-bg{
     background: url(../images/home-msg.jpg) no-repeat center top fixed;
     background-size
     -moz-background-size: cover;
     -webkit-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
     width: 100%;
     overflow: hidden;
   }*/
   /* navbar section */
   .menu-scroll {
       padding-top: 0px;
       padding-bottom: 0px;
       position: fixed;
       top: 0; 
       left: 0; 
       right: 0; 
       z-index: 300;
       box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
       -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
       background-color:#fff;
       -webkit-transition:all .3s;
       -moz-transition:all .3s;
       transition:all .3s;
       height: 80px;
       /*    background-color: transparent;
           -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
           -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
           transition: background .5s ease-in-out,padding .5s ease-in-out;*/
   
   }
   
   .menu-scroll .main_menu_bg{
       margin-top: 0px;
       background-color: transparent;
       height: 80px;
   }
   .menu-scroll .main_menu_bg .nave_menu {
       margin-top:0px;
   }
   .main_menu_bg{
       margin-top: 0px;
       background-color: #eae9e9;
       border-bottom: 1px solid #ddd;
       height: 133px;
       transition: all 0.3s;
background-image: url(../images/header.png);
background-size: cover;
   }
   .main_menu_bg .navbar-default {
       background-color: transparent; 
       border-color: transparent; 
       transition: all .3s;
       margin: 0px auto;
       font-weight: bold;
   }
   .navbar-nav>li {
       padding: 0 10px;
   }
   .navbar-nav>li:hover {
    box-shadow: 
    inset 25px 0px 8px -20px transparent,
    inset -25px 0px 8px -20px transparent,
    inset 0px 11px 3px -9px #8c8c8c,
    inset 0px -11px 3px -9px #8c8c8c; 
   }

   .navbar-nav>.active {
    box-shadow: 
    inset 25px 0px 8px -20px transparent,
    inset -25px 0px 8px -20px transparent,
    inset 0px 11px 3px -9px #8c8c8c,
    inset 0px -11px 3px -9px #8c8c8c; 
   }
   
   .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{
       background-color: #345AD3;
       color: white;
       box-shadow: 
         inset 0px 10px 4px -9px #727070,
         inset 0px -10px 4px -9px #727070; 
       /* background-color: #1565C0; */
       /* background-image: url(../images/hover);
       -webkit-background-size: cover;
       -moz-background-size: cover;
       -o-background-size: cover;
       background-size: cover; */
       /* border-bottom: 3px solid black;
       border-top: 3px solid black; */
       /* -moz-box-shadow:0 5px 5px rgba(182, 182, 182, 0.75);
       -webkit-box-shadow: 0 5px 5px black; */
   }

   /* .li.nav > a:hover {
    background-color: #1565C0;
   } */


   .main_menu_bg .nave_menu {
       margin-top:50px;
       transition: all 0.6s;
   }
   
   .main_menu_bg .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{
    box-shadow: 
    inset 0px 10px 4px -9px #727070,
    inset 0px -10px 4px -9px #727070; 
    background-color: #345AD3;
       color: white;
   }

   main_menu_bg .navbar-default .navbar-nav>li:active {
    box-shadow: 
    inset 25px 0px 8px -20px transparent,
    inset -25px 0px 8px -20px transparent,
    inset 0px 11px 3px -9px #8c8c8c,
    inset 0px -11px 3px -9px #8c8c8c; 
   }

   /* .nav > li > a:active {
    text-decoration: none;
    background-color: #345AD3;
} */

   /* .navbar-nav>li:active {
    box-shadow: 
    inset 25px 0px 8px -20px transparent,
    inset -25px 0px 8px -20px transparent,
   }

   .navbar-left .navbar-nav>li:active {
    box-shadow: 
    inset 25px 0px 8px -20px transparent,
    inset -25px 0px 8px -20px transparent,
   } */

   
   .main_menu_bg .navbar-nav>li>a {
       padding-top: 13px;
       padding-bottom: 13px;
       font-size: 81%;
       color: #1565C0;
       letter-spacing: -1px;
   }
   /*.navbar-brand>img {
       max-width: 80%;
   }*/
   navbar-brand>img {
       max-width: 47%;
       /* max-height: 346%; */
       margin-top: -99px;
       margin-left: 44px;
   }
   
   .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus{
       background-color:transparent;
       color:#ffe1bd;
   
   }
   .dropdown-menu>li>a{
       line-height: 4;
   }
   /*.navbar-nav>li>.dropdown-menu{
       margin-top:20px;
   }*/
   
   
   /*home section*/
   .main_home{
       margin-top:85px;
       padding: 140px 0px;
       position: relative;
   
   }
   .main_home h1{
       color: #fff;
       padding-bottom: 25px;
   }
   .main_home p.subtitle{
       color: #000;
       padding-bottom: 25px;
       font-size:1.5rem;
       line-height: 2rem;
       margin:0 auto;
       margin-left: -393px;
   
   }
   p.subtitle{
       margin-left: -393px;
   
   }
   p.patients{
        line-height: 1.375rem;
        margin-bottom: 17px;
        font-size: 80%;
   }
   .main_home_slider{
       margin-top:70px;
   }
   .single_home_slider{
       margin-top:70px;
       background:url(../images/home.jpeg) no-repeat top center;
       position: relative;
   }
   .main_home_slider .owl-controls{
       position: absolute;
       right:1%;
       top:15%;
       z-index: 99;
   }
   .home .owl-theme .owl-dots .owl-dot {
       display: block;
       zoom: 1;
   }
   
   .owl-theme .owl-dots .owl-dot.active span{
       background: #00BFA5;
       border:0;
   }
   .owl-theme .owl-dots .owl-dot span {
       width: 15px;
       height: 15px;
       margin: 2px 10px;
       background: transparent;
       border:1px solid #00b040;
       display: inline-block;
       -webkit-backface-visibility: visible;
       -webkit-transition: opacity 200ms ease;
       -moz-transition: opacity 200ms ease;
       -ms-transition: opacity 200ms ease;
       -o-transition: opacity 200ms ease;
       transition: opacity 200ms ease;
       -webkit-border-radius: 0px; 
       -moz-border-radius: 0px;
       border-radius: 100px;
       transform: rotate(45deg);
   }
   
   .owl-theme .owl-dots {
       text-align: center;
       -webkit-tap-highlight-color: transparent;
       margin-top: -81px;
   }
   
   
   /*========================================================================
   service section css
   ==========================================================================*/
   .head_title{
       margin-bottom:60px;
   }
   .head_title h2{
       font-size:3.125rem;
       color:#223d61;
   }
   .head_title p{
       font-size:1rem;
   }
   
   
   /*=======================================================================
                           Work sectin style
   =========================================================================*/
   .main_mix_content{
       overflow: hidden;
   }
   .main_mix_content .single_mixi_portfolio{
       margin-bottom:30px;
   }
   
   
   /*====================================================================
    Team section Style
   ======================================================================*/
   .main_team_area{
       margin-top: 23px;
       border: 3px solid gainsboro;
       /*background-image: url(../images/home.jpg);*/
       box-shadow: 0px 10px 5px grey;
       width: 87%;
       margin-left: 68px;
       height: 100%;
   }
    .item{
    height: 377px;
   }

   .banner{
       max-width: 100%;
   }
   
   .single_team{
       margin-top:70px;
       position: relative;
   }
   
   .main_team_area .single_team .team img{
       margin-bottom:20px;
       width:168px;
       height: 168px;
       margin:20px auto;
       
   }
   .main_team_area .owl-controls{
       margin-top:50px;
   }
   
   .carousel{
       background: url("assets/css/images/home.jpg") no-repeat top center;
      
   }
   
   .main_team_area .owl-nav{
       position: absolute;
       top:20%;
       margin-top: 68px;
       margin-left: 23px;
   
   }
   .main_team_area .owl-carousel .owl-controls .owl-nav .owl-prev{
       float: left;
       position: absolute;
       /* background: #a49d9d; */
       /*navText: ["img src='/images/left.png>","img src='/images/right.png>"];
       navClass: ['owl-prev','owl-next'];*/
   }
   .main_team_area .owl-carousel .owl-controls .owl-nav .owl-next {
       float: right !important;
       position: relative;
       right: -2210%;
       /* background: #a49d9d; */
   }

   .main_team_area .owl-theme .owl-nav [class*='owl-'] {
       color: white;
       font-size: 1rem;
       margin: 5px;
       padding: 4px 7px;
       background: transparent;
   }
   .main_team_area .owl-theme .owl-nav [class*='owl-']:hover {
       background: transparent;
       color: black;
   
   }
   
   
   /*===================================================================
                       Clients Section Style
   =====================================================================*/
   .single_left_text{
   }
   .slider-pro .sp-slides.sps_slider{
       height: 200px !important;
   }
   .slider-pro p.sp-layer.right_sp_layer {
       padding-top: 40px;
   }
   
   /*===================================================================
                       Contact section style
   =======================================================================*/
    /*.contact{
       background: url(../images/tuchbg.jpg) no-repeat top center;
       background-size: cover;
       position: relative;
   }*/
   
   .main_contact .head_title.whitetext h1{
       color:#fff;
   }
   .main_contact label{
       font-family: 'Montserrat', sans-serif;
       font-size:1.125rem;
       font-weight: 300;
       margin-bottom:10px;
   }
   .main_contact .form-control {
       display: inline-block;
       width: 100%;
       height: 50px;
       padding: 6px 25px;
       font-size: 14px;
       line-height: 1.42857143;
       color: #fff;
       background-color: transparent; 
       background-image: none;
       border-top: 1px solid #555;
       border-radius: 0px;
       -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
       box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
       -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
       transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
       border: 1px solid;
   }
   
   .main_contact .single_contant_left input[type="submit"]{
   
   }
   
   .main_contact textarea.form-control {
       height: auto;
       border-bottom: 1px solid #333;
   }
   
   .main_contact .single_message_right_info{
       display: inline-block;
       width: 100%;
       margin-top: 65px;
   }
   
   .single_message_right_info li{
       font-size: 1.125rem;
       display: block;
       width: 100%;
       margin-bottom: 40px;
       overflow: hidden;
       line-height: 1.5rem;
   }
   .single_message_right_info li i{
       padding: 5px;
       font-size:1rem;
       float: left;
       width:8%;
       display: inline-block;
       text-align: center;
   }
   .single_message_right_info li span{
       display:inline-block;
       float: left;
       width:90%;
   
   }
   .contact_socail a i{
       font-size:0.8125rem;
       color:#000;
       background: #fff;
       text-align: center;
       width:40px;
       height: 40px;
       line-height: 40px;
       margin-left:10px;
   }
   .contact_socail a:hover i{
       background: #ffe1bd;
       color:#fff;
   }
   
   
   
   /*==================================================================
                       footer section
   ====================================================================*/
   .footer{
       border-top:1px solid #d8d8d8;
       background-color: #143FA4;
       margin-top: 56px; 
   }
   .copyright_text p{
      color: white;
      font-size: 59%;
      line-height: 25px;
      padding: 30px 0px;
      max-width: 100%;
   }
   .copyright_text p i{
       padding:0px 10px;
       color: white;
   }
   .copyright_text p a{
       padding:0px 10px;
       color: white;
   }
   
   
   /* scrollup */
   
   .scrollup{
       width: 30px;
       height: 30px;
       border-radius: 15px;
       opacity: .3;
       position: fixed;
       bottom: 20px;
       right: 25px;
       color: #fff;
       cursor: pointer;
       background-color: #000;
       z-index: 1000;
       transition: opacity .5s, background-color .5s;
       -moz-transition: opacity .5s, background-color .5s;
       -webkit-transition: opacity .5s, background-color .5s;
   }
   
   .scrollup:hover {
       background: #ffcb93;
       opacity: 1;
   }
   
   .scrollup i {
       font-size: 13px;
       position: absolute;
       opacity: 1;
       color: #fff;
       left: 50%;
       top: 50%;
       margin-top: -7px;
       margin-left: -6px;
       text-decoration: none;
   
   }
   
   
   
   
   
   /*====================================================================
                            About Page Style
   ======================================================================*/
   
   .main_about_area .separator2{
       margin-top:0px;
       margin-bottom: 40px;
   }
   .main_about_area .single_about_left_text{
       width:80%;
       margin:40px auto;
   }
   .main_about_area .single_about_left_text h4{
       line-height: 3rem;
   }
   
   
   /*======================================================================
                       instagram Section
   -=======================================================================*/
   .instagram-thumbnails img{
       width: 18%;
       display: inline-block;
       margin: 5px;
   }
   
   
   
   
   
   
   /*========================================================================
                   Service Page One Style
   ==========================================================================*/
   
   .main_events_area{}
   .main_events_area .single_events span{
       display: inline-block;
   }
   .main_events_area .single_events p{
       font-size:1.875rem;
       line-height: 2rem;
   }
   .main_events_area .single_events span.e_text{}
   .main_events_area .single_events span.separator3{
       margin: 10px 50px;
   }
   .main_events_area .single_events span.e_price{
       font-family: 'Montserrat', sans-serif;
       font-weight: 700;
       font-size:2.5rem;
   }
   .main_events_area .single_events span.e_text1{
       margin-left:20px;
       color:#8e8e8e;
   }
   .main_events_area .single_events.events_btn .btn{
       margin-top:0px;
   }
   
   
   
   
   
   /*=====================================================================
                       Works page style
   =======================================================================*/
   .single_mixi_portfolio{
       position: relative;
   }
   .single_work_overlay{
       background: #FFE1BD;
       width:80%;
       height: 80%;
       left:10%;
       top:10%;
       position:absolute;
       padding-top: 15%;
       opacity: 0;
       transition: all 0.6s;
   }
   .single_work_overlay.single_work_overlay2{
       padding-top: 40%;
   }
   .single_mixi_portfolio:hover .single_work_overlay{
       opacity: 1;
   }
   
   
   
   
   /*=====================================================================
                       Work1 page style
   =======================================================================*/
   
   .main_work1_area{}
   .main_work1_area .main_work1_content{
       padding-top:130px;
   }
   .main_work1_area .owl-theme .owl-nav [class*='owl-'] {
       color: #989898;
       background: transparent;
       font-size:1.125rem;
   }
   .main_work1_area .owl-theme .owl-nav {
       margin-top: 10px;
       text-align: center;
       -webkit-tap-highlight-color: transparent;
       position: relative;
       top: -880px;
   }
   
   .main_work1_area .owl-theme .owl-dots .owl-dot span{
       border-radius:50%;
   }
   .main_work1_area .owl-theme .owl-dots .owl-dot.active span{
       background: #000;
       border: 0;
   }
   
   .work_socail a i{
       background: #000;
       color:#fff;
       transition: all 0.6s;
       text-align: center;
       width: 40px;
       height: 40px;
       line-height: 40px;
       margin-right: 10px;
   }
   
   .work_socail a:hover i{
       background: #FFE1BD;
       color:#fff;
   }
   
   /* main work1 content section */
   
   .main_work1_content_area{}
   
   .main_work1_content_area .signle_work1_left {
       width: 80%;
       margin: 0px auto;
   }
   
   
   /*main work1 team section */
   .main_work1_team_area{}
   .main_work1_team_area .owl-theme .owl-dots .owl-dot span{
       border-radius:50%;
   }
   .main_work1_team_area .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
       background: #000;
   }
   
   .main_work1_team_area .owl-theme .owl-dots {
       text-align: center;
       -webkit-tap-highlight-color: transparent;
       top: 40px;
       position: relative;
   }
   
   .main_work1_team_area .single_work1_team .team{
       margin-top:30px;
   }
   
   
   /*==================================================================
                   Blog Page Style
   ====================================================================*/
   .blogmix .mix{
       display: none;
   }
   .blogmix in{
       overflow: hidden;
   }
   .single_service{
       min-height: 555px;
   }
   .blog_readmore_btn{
       display: block;
       width:100%;
       overflow: hidden;
   }
   ul li.filter{
       cursor:pointer;
   }
   
   /*==================================================================
                   BlogInner Page Style
   ====================================================================*/
   
   .main_bloginner_area{}
   .main_bloginner_content{}
   .main_bloginner_content .single_bloginner img{
       width:100%;
   }
   .single_bloginner h1{
       font-size:3rem;
       margin-bottom: 1rem;
   }
   .single_bloginner.s_blogIner_4.single_bloginner_bottom_heading{
       width:80%;
   }
   .single_bloginner.s_blogIner_4.single_bloginner_bottom_heading h4{
       letter-spacing: 1px;
       line-height: 3rem;
   }
   
   
   
   /*=======================================================================
                       Cantact Us Page Style 
   =========================================================================*/
   
   .contactus .form-control{
       color:#333;
   }
   .ourmap {
       width: 100%;
       height: 700px;
   }
   
.panel {
    /* width: 1106px; */
    position: absolute;
    margin-top: -26px;
    margin-left: 15px;
    width: auto;
}
   
   .panel1{
   background: #42A5F5;
   margin-left: 54px;
   margin-top: 20px;
   }
   
   .panel2{
   background: #F5F5F5;
       border: 1px solid gainsboro;
       padding-bottom: 91px;
       margin-left: 54px;
       margin-top: -14px;
       height: 479px;
       /*height: 536px;*/
   }
   
   .panel3{
    background: #00BFA5;
    padding-bottom: 0px;
    border: 1px solid gainsboro;
    margin-top: 19px;
    margin-right: 49px;
    height: 571px;
    /*height: 629px;*/
   }
   
   .panel4{
    background: gainsboro;
   
   }
   .panel5{
       border: 3px solid gainsboro;
       padding: 40px;
       }
   
   .panel6{
       border: 2px solid gainsboro;
       width: 1200px;
       }
   .panel7{
       /* border: 1px solid gainsboro; */
       width: 1100px;
   
   }
   
.mvmcpanel {
    background: #F5F5F5;
    border: 1px solid gainsboro;
    margin-top: 22px;
    margin-right: 20px;
    width: 27%;
    height: 260px;
    margin-left: 49px;
}
   .navcolor{
       text-decoration-color: blue;
   }
   
   .col-sm-push-1 {
       left: -1.667%;
   }
   
   .col-sm-5 {
       width: 50%;
   }
   
   /*.col-sm-7{
       margin-top: -1px;
   }*/
   
   .input{
       margin-left: 30px;
   }
   
   .inputs{
       /*width: 460px;*/
       width: -moz-available;
       width: -webkit-fill-available;
       border-radius: 5px;
   }

   
   .h3{
       color: #00BFA5;
       /*margin-left: 30px;*/
       font-size:1.575rem;
       line-height: 2.5rem;
       font-family: 'Open Sans';
       font-weight: bold;
       margin-left: 14px;
       padding: 0px;
   }
   
   .call {
       font-size: 1rem;
       margin: 0;
       color:#1565C0;
       margin-top: -48px;
   }
   
   .image{
       margin-top: -95px;
   }
   
   .news{
       width: 125px;
       height: 128px;
   }
   
   .search{
       width: 30px;
       height: 30px;
       margin-top: 7px;
   }
   
   .logo{
       max-width: 163px;
margin-top: 6px;
margin-left: -21px;
   }
   
   .input1{
       font-family: inherit;
       font-size: inherit;
       line-height: 31px;
       border-radius: 3px;
       width: 474px;
       margin-left: 14px;
   }
   
   .input2{
       font-family: inherit;
       font-size: inherit;
       line-height: 31px;
       border-radius: 3px;
       width: 250px;
       height: 32px;
       margin-left: 14px;
       background: white;
       color: black;
   }
   
   .btn-defaults {
       color: white;
       background-color: #00BFA5;
       border-color: cadetblue;
       margin-left: 10px;
       margin-top: -90px;
   }
   

   .col-md-1 {
       width: 0.333%;
       margin-left: 50px;
   }
   .col-md-2 {
       
       width: 16.66666667%;
       margin-left: 58px;
       font-size: 85%;
       }
   
   p.service {
       margin-top: -49px;
       margin-left: 402px;
       z-index: 1000;
       position: absolute;
       background: rgba(250,250,250,0.8);
   }
   p.doctor{
        line-height: 1.375rem;
        margin-bottom: 0px;
        font-size: 85%;
   }
   p.doctor1{
    line-height: 1.375rem;
    margin-bottom: 0px;
    font-size: 90%;
}
   
   /*.serviceimg{
       max-width: 89%;
       width: -moz-available;
       height: 349px;
       box-shadow: 6px 7px 5px grey;
       margin-left: 17px;
   }*/

   
   .servicelist {
    max-width: 89%;
    width: -moz-available;
    height: 171px;
}
   
   .row1 {
       margin-right: -185px;
       margin-left: -15px;
   }
   .row2 {
    margin-right: -10px;
    margin-left: -10px;
   }
.row3 {
    margin-right: 0px;
    margin-left: 0px;
}
   
   .head_title p {
       font-size: 95%;
   }
   
   .single_about{
       margin-top: -33px;
   }
   .main_about_area{
      
           margin-top: -17px;
   }
   
   .servicepanel{
    padding-bottom: 20px;
    border-bottom: solid 1px #143FA4;
    width: 76%;
    margin-left: 138px;
   }

   .facilitiespanel {
    padding-bottom: 20px;
    border-bottom: solid 1px #143FA4;
    width: 76%;
    margin-left: 130px;
}

   .readmorearrow {
    float: right;
    margin: 0 0 10px 10px;
    width: 44px;
    height: 27px;
    padding-right: 15px;
}

.serviceimg{
    max-width: 46%;
    box-shadow: 6px 7px 5px grey;
margin-left: 17px;
}

/* nav > li > a:hover{
    border-top: solid 1px black;
    border-top-width: 10px;
} */

 .missionimg {
      max-width: 35%;
      width: 1500px;
      box-shadow: 6px 7px 5px grey;
      margin-right: 20px;
      margin-left: 20px;
    }

    .missionvid {
      max-width: 100%;
    }

.newsimg{
    width: 50%;
    height: 77px;
    box-shadow: -5px 7px 5px grey;
    margin-right: 6px;
    margin-bottom: 12px;

}

.newsimage{
//max-width: 50%;
max-width: 96%;
box-shadow: 6px 7px 5px grey;
margin-bottom: 25px;
margin-right: 19px;
}

b.service{
    color: #337ab7;
}
b.mvmc{
    margin-left: -126px;
    font-size: 100%;
}
b.doctor{
    font-size: medium;
    color: #2c2c2c;
}

.navbar-left {
    float: left !important;
    margin-top: -20px;
    font-size: 80%;
}

h4.aboutus{
    font-size: 200%;
    line-height: 2.5rem;
    font-family: 'Open Sans';
    font-weight: 700;
    color: #143FA4;
    margin-left: 24px;

}

h4.careers{
    font-size: 1.75rem;
    line-height: 3.5rem;
    font-family: 'Open Sans';
    font-weight: 700;
    color: #143FA4;
    margin-top: -58px;

}

b.aboutus{
    font-weight: 700;
    font-size: 101%;
}

p.doc {
    line-height: 1.375rem;
    margin-bottom: -31px;
    font-size: 85%;
}
p.doc1{
    margin-left: -15px;
}


h4.searchbar{
    font-size: 1.75rem;
    line-height: 3.5rem;
    font-family: 'Open Sans';
    font-weight: 700;
    color: #143FA4;
    margin-top: -58px;
    margin-bottom: 13px;
}

.required{
    color:red;
}
    
.navbar-left > li > a.active {
    color: white;
    background-color: #3359D3;
}

.nav > li > a:hover, .nav > li > a:focus {
    color: white;
    background-color: #345AD3;
}


.navbar-nav > li:active {
    box-shadow: 
    inset 25px 0px 8px -20px transparent,
    inset -25px 0px 8px -20px transparent,
    inset 0px 11px 3px -9px #8c8c8c,
    inset 0px -11px 3px -9px #8c8c8c; 
   }

.fac{
    margin-left: 69px;
    font-size: initial;
}

.facimg {
    float: right;
    margin: 0 0 10px 283px;
    max-width: 265px;
    padding-right: 15px;
}
.hey{
    position: absolute;
}
a.home{
    color: #656565;
}
.col-sm-1 {
    width: 11%;
    margin-left: -44px;
}
/*ul.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    margin-left: 0px;
    margin-left: 0px;
    border-radius: 4px;
    margin-left: 53px;
}*/
.dd{
    width: auto;
    border-radius: 3px;
    margin-left: 22px;
    margin-bottom: 25px;
    width: auto;
}
.b{
    color: #FFF;
    font-size: larger;
}
.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
.mod {
    margin-top: 0px;
}

.btn-primary{
    border-radius: 6px;
}
.modal-dialog {
    width: 470px;
    margin: 30px auto;
    margin-top: 134px;
}
.iframe{
    padding-right: 10px;
    margin-left: 26px;
}
#map{
    width: 78%; 
    height: 233px; 
    margin-left: 14px; 
    margin-top: -13px; 
    position: relative; 
    overflow: hidden;
}
label {
    font-size: 90%;
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

 